# Problem- solving with algorithms - Interactive Tutorial

Visit https://runestone.academy/runestone/books/published/pythonds/Introduction/GettingStartedwithData.html#built-in-collection-data-types

## Getting Started with Data

We stated above that Python supports the object-oriented programming paradigm. This means that Python considers data to be the focal point of the problem-solving process. In Python, as well as in any other object-oriented programming language, we define a class to be a description of what the data look like (the state) and what the data can do (the behavior). Classes are analogous to abstract data types because a user of a class only sees the state and behavior of a data item. Data items are called objects in the object-oriented paradigm. An object is an instance of a class.

## Built-in Atomic Data Types

We will begin our review by considering the atomic data types. Python has two main built-in numeric classes that implement the integer and floating point data types. These Python classes are called int and float. The standard arithmetic operations, +, -, *, /, and ** (exponentiation), can be used with parentheses forcing the order of operations away from normal operator precedence. Other very useful operations are the remainder (modulo) operator, %, and integer division, //. Note that when two integers are divided, the result is a floating point. The integer division operator returns the integer portion of the quotient by truncating any fractional part.

In [9]:
print(2+3*4)
print((2+3)*4)
print(2**10)
print(6/3)
print(7/3)
print(7//3)
print(7%3)
print(3/6)
print(3//6)
print(3%6)
print(2**100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

The boolean data type, implemented as the Python bool class, will be quite useful for representing truth values. The possible state values for a boolean object are True and False with the standard boolean operators, and, or, and not.

In [11]:
print(False or True)
print(not (False or True))
print(True and True)

True
False
True

In [12]:
print(5==10)
print(10 > 5)
print((5 >= 1) and (5 <= 10))

False
True
True

Identifiers are used in programming languages as names. In Python, identifiers start with a letter or an underscore (_), are case sensitive, and can be of any length. Remember that it is always a good idea to use names that convey meaning so that your program code is easier to read and understand.

A Python variable is created when a name is used for the first time on the left-hand side of an assignment statement. Assignment statements provide a way to associate a name with a value. The variable will hold a reference to a piece of data and not the data itself. Consider the following session:

## Built-in Collection Data Types

In addition to the numeric and boolean classes, Python has a number of very powerful built-in collection classes. Lists, strings, and tuples are ordered collections that are very similar in general structure but have specific differences that must be understood for them to be used properly. Sets and dictionaries are unordered collections.

A list is an ordered collection of zero or more references to Python data objects. Lists are written as comma-delimited values enclosed in square brackets. The empty list is simply [ ]. Lists are heterogeneous, meaning that the data objects need not all be from the same class and the collection can be assigned to a variable as below. The following fragment shows a variety of Python data objects in a list.

In [13]:
[1,3,True,6.5]

[1, 3, True, 6.5]


Table 2: Operations on Any Sequence in PythonÂ¶
Operation Name

Operator

Explanation

indexing

[ ]

Access an element of a sequence

concatenation

+

Combine sequences together

repetition

*

Concatenate a repeated number of times

membership

in

Ask whether an item is in a sequence

length

len

Ask the number of items in the sequence

slicing

[ : ]

Extract a part of a sequence

In [14]:
myList = [0] * 6
myList

[0, 0, 0, 0, 0, 0]

In [15]:
myList = [1,2,3,4]
A = [myList]*3
print(A)
myList[2]=45
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

The variable A holds a collection of three references to the original list called myList. Note that a change to one element of myList shows up in all three occurrences in A.


Table 3: Methods Provided by Lists in Python
Method Name

Use

Explanation

append

alist.append(item)

Adds a new item to the end of a list

insert

alist.insert(i,item)

Inserts an item at the ith position in a list

pop

alist.pop()

Removes and returns the last item in a list

pop

alist.pop(i)

Removes and returns the ith item in a list

sort

alist.sort()

Modifies a list to be sorted

reverse

alist.reverse()

Modifies a list to be in reverse order

del

del alist[i]

Deletes the item in the ith position

index

alist.index(item)

Returns the index of the first occurrence of item

count

alist.count(item)

Returns the number of occurrences of item

remove

alist.remove(item)

Removes the first occurrence of item

In [16]:
myList = [1024, 3, True, 6.5]
myList.append(False)
print(myList)
myList.insert(2,4.5)
print(myList)
print(myList.pop())
print(myList)
print(myList.pop(1))
print(myList)
myList.pop(2)
print(myList)
myList.sort()
print(myList)
myList.reverse()
print(myList)
print(myList.count(6.5))
print(myList.index(4.5))
myList.remove(6.5)
print(myList)
del myList[0]
print(myList)

[1024, 3, True, 6.5, False]
[1024, 3, 4.5, True, 6.5, False]
False
[1024, 3, 4.5, True, 6.5]
3
[1024, 4.5, True, 6.5]
[1024, 4.5, 6.5]
[4.5, 6.5, 1024]
[1024, 6.5, 4.5]
1
2
[1024, 4.5]
[4.5]

You can see that some of the methods, such as pop, return a value and also modify the list. Others, such as reverse, simply modify the list with no return value. pop will default to the end of the list but can also remove and return a specific item. The index range starting from 0 is again used for these methods. You should also notice the familiar âdotâ notation for asking an object to invoke a method. myList.append(False) can be read as âask the object myList to perform its append method and send it the value False.â Even simple data objects such as integers can invoke methods in this way.

In [17]:
(54).__add__(21)

75

One common Python function that is often discussed in conjunction with lists is the range function. range produces a range object that represents a sequence of values. By using the list function, it is possible to see the value of the range object as a list.

In [22]:
range(10)

range(0, 10)

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(5,10,2))

[5, 7, 9]

In [23]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### Strings 
 are sequential collections of zero or more letters, numbers and other symbols. We call these letters, numbers and other symbols characters. Literal string values are differentiated from identifiers by using quotation marks (either single or double).

In [24]:
"David"

'David'

In [25]:
myName = "David"
myName[3]

'i'

In [26]:
myName*2

'DavidDavid'

In [27]:
len(myName)

5

In [28]:
myName.upper()

'DAVID'

In [29]:
myName.center(10)

'  David   '

In [30]:
myName.find('v')

2

In [31]:
myName.split('v') #  split will take a string and return a list of strings using the split character as a division point.

['Da', 'id']

Table 4: Methods Provided by Strings in Python
Method Name

Use

Explanation

center

astring.center(w)

Returns a string centered in a field of size w

count

astring.count(item)

Returns the number of occurrences of item in the string

ljust

astring.ljust(w)

Returns a string left-justified in a field of size w

lower

astring.lower()

Returns a string in all lowercase

rjust

astring.rjust(w)

Returns a string right-justified in a field of size w

find

astring.find(item)

Returns the index of the first occurrence of item

split

astring.split(schar)

Splits a string into substrings at schar

A major difference between lists and strings is that lists can be modified while strings cannot. This is referred to as mutability. Lists are mutable; strings are immutable. For example, you can change an item in a list by using indexing and assignment. With a string that change is not allowed.

In [33]:
myList = [1, 3, True, 6.5]
myList

[1, 3, True, 6.5]

In [34]:
myList[0]=2**10
myList

[1024, 3, True, 6.5]

In [35]:
myName

'David'

In [36]:
myName[0]='X'

TypeError: 'str' object does not support item assignment

## Tuples
are very similar to lists in that they are heterogeneous sequences of data. The difference is that a tuple is immutable, like a string. A tuple cannot be changed. Tuples are written as comma-delimited values enclosed in parentheses. As sequences, they can use any operation described above. For example,

In [37]:
myTuple = (2,True,4.96)

In [38]:
myTuple

(2, True, 4.96)

In [39]:
myTuple * 3

(2, True, 4.96, 2, True, 4.96, 2, True, 4.96)

However, if you try to change an item in a tuple, you will get an error. Note that the error message provides location and reason for the problem

In [40]:
myTuple[1]=False

TypeError: 'tuple' object does not support item assignment

## set 
is an unordered collection of zero or more immutable Python data objects. Sets do not allow duplicates and are written as comma-delimited values enclosed in curly braces. The empty set is represented by set(). Sets are heterogeneous, and the collection can be assigned to a variable as below.

In [41]:
{3,6,"cat",4.5,False}

{3, 4.5, 6, False, 'cat'}

In [42]:
mySet = {3,6,"cat",4.5,False}

In [43]:
mySet

{3, 4.5, 6, False, 'cat'}

In [44]:
False in mySet

True

In [45]:
"dog" in mySet

False

Sets support a number of methods that should be familiar to those who have worked with them in a mathematics setting. Table 6 provides a summary. Examples of their use follow. Note that union, intersection, issubset, and difference all have operators that can be used as well.


Table 6: Methods Provided by Sets in Python
Method Name

Use

Explanation

union

aset.union(otherset)

Returns a new set with all elements from both sets

intersection

aset.intersection(otherset)

Returns a new set with only those elements common to both sets

difference

aset.difference(otherset)

Returns a new set with all items from first set not in second

issubset

aset.issubset(otherset)

Asks whether all elements of one set are in the other

add

aset.add(item)

Adds item to the set

remove

aset.remove(item)

Removes item from the set

pop

aset.pop()

Removes an arbitrary element from the set

clear

aset.clear()

Removes all elements from the set

In [47]:
mySet

{3, 4.5, 6, False, 'cat'}

In [48]:
yourSet = {99,3,100}

In [49]:
mySet.union(yourSet)

{100, 3, 4.5, 6, 99, False, 'cat'}

In [50]:
mySet | yourSet

{100, 3, 4.5, 6, 99, False, 'cat'}

In [51]:
mySet.intersection(yourSet)

{3}

In [52]:
mySet.difference(yourSet)

{4.5, 6, False, 'cat'}

In [53]:
mySet - yourSet

{4.5, 6, False, 'cat'}

In [54]:
{3,100}.issubset(yourSet)

True

In [55]:
{3,100}<=yourSet

True

In [56]:
mySet.add("house")

In [57]:
mySet

{3, 4.5, 6, False, 'cat', 'house'}

In [58]:
mySet.remove(4.5)

In [59]:
mySet

{3, 6, False, 'cat', 'house'}

In [60]:
mySet.pop()

False

In [61]:
mySet

{3, 6, 'cat', 'house'}

In [62]:
mySet.clear()
mySet

set()

Our final Python collection is an unordered structure called a dictionary. Dictionaries are collections of associated pairs of items where each pair consists of a key and a value. This key-value pair is typically written as key:value. Dictionaries are written as comma-delimited key:value pairs enclosed in curly braces. For example,

In [63]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}
capitals

{'Iowa': 'DesMoines', 'Wisconsin': 'Madison'}

We can manipulate a dictionary by accessing a value via its key or by adding another key-value pair. The syntax for access looks much like a sequence access except that instead of using the index of the item we use the key value. To add a new value is similar.

In [64]:
print(capitals['Iowa'])

DesMoines

In [65]:
capitals['Utah']='SaltLakeCity'

In [66]:
capitals['California']='Sacramento'

In [67]:
print(len(capitals))

4

In [68]:
for k in capitals:
   print(capitals[k]," is the capital of ", k)

DesMoines  is the capital of  Iowa
Madison  is the capital of  Wisconsin
SaltLakeCity  is the capital of  Utah
Sacramento  is the capital of  California


Table 7: Operators Provided by Dictionaries in PythonÂ¶
Operator

Use

Explanation

[]

myDict[k]

Returns the value associated with k, otherwise its an error

in

key in adict

Returns True if key is in the dictionary, False otherwise

del

del adict[key]

Removes the entry from the dictionary